@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";


body { background-color: #fff; }
h1 { width: 100%; text-align: center; }

.container {
  display: flex; flex-flow: row wrap; align-content: flex-start; align-items: flex-start; justify-content: flex-start;
}

.item { flex: 0 1 auto; padding: 8px; margin: 24px; text-align: center; }
.pretty { margin: 8px 4px 8px 4px;}

.bold { font-weight: 700; font-size: 24px; }
.fizz { color: black; background-color: goldenrod; padding: 9px; border-radius: 5px; }
.buzz { color: white; background-color: red; padding: 9px; border-radius: 5px; }
.fizzbuzz { color: black; background-color: lightblue; padding: 9px; border-radius: 5px; }
.number { border: 1px solid white; border-radius: 5px; padding: 12px 24px 12px 24px; font-weight: 900; }
